[project]
	description = adaptation du cours de Andrew Ng (machine learning ) avec Octave sous R
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/laurent raulier (lraulier)
[access "refs/for/refs/*"]
	read = group user/laurent raulier (lraulier)
	push = group user/laurent raulier (lraulier)
	label-Code-Review = -2..+2 group user/laurent raulier (lraulier)
	label-Verified = -1..+1 group user/laurent raulier (lraulier)
	rebase = group user/laurent raulier (lraulier)
	removeReviewer = group user/laurent raulier (lraulier)
	submit = group user/laurent raulier (lraulier)
[access "refs/heads/*"]
	read = group user/laurent raulier (lraulier)
	create = group user/laurent raulier (lraulier)
	push = +force group user/laurent raulier (lraulier)
	pushMerge = group user/laurent raulier (lraulier)
[access "refs/tags/*"]
	push = +force group user/laurent raulier (lraulier)
	pushTag = group user/laurent raulier (lraulier)
	pushSignedTag = group user/laurent raulier (lraulier)
